#pageHead {
	width: 100%;
	min-width: 1060px;
	height: 63px;
	position: relative;
	z-index:200;
	color: #DDD;
	font-size: 15px;
}

#pageHead #logo{
	float: left;
	position: relative;
	top: 7px;
}

#pageHead #leftHead {
	line-height:63px;
	height: 63px;
	float: left;
	overflow: hidden;
	margin: 0px 30px;
	width: calc(60% - 60px);
}

#pageHead #rightHead {
	line-height:63px;
	height: 63px;
	float: right;
	overflow: hidden;
	margin: 0px 30px;
	color: #000;
	width: calc(40% - 60px);
}

#queryBar{
	width: 70%;
	float: left;
}

#queryBarSubmit{
	float: right;
	width: 23%;
	position: relative;
	top: 1px;
}

#pageHead #rightHead #searchWrapper{
	padding: 12px 0px;
	float: right;
	width:300px;
}

#pageHead #userAccountBar{
	float: right;
	width: calc(100% - 310px);
	border-left: 1px solid #E9E9E9;
	height: 63px;
}

#pageHead #userAccountBar .item{
	width: 60px;
	height: 63px;
	float: left;
	cursor: pointer;
	border-right: 1px solid #E9E9E9;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

#pageHead #userAccountBar .item:hover{
	background-color: rgba(0,0,0,.05);
}

#pageHead #userAccountBar .item .indicatorIcon{
	position: relative;
	top:45%;
	left:50%;
	margin: -10px 0px 0px -10px;
}

#pageHead #userAccountBar .item #mNum{
	display: none;
	width: 20px;
	height: 20px;
	position: relative;
	top: 65%;
	left: 50%;
	margin: -10px 0px 0px -10px;
	line-height: 20px;
	overflow: hidden;
	color: #FFF;
	background: rgba(0,0,0,.3);
	border-radius: 50%;
	text-align: center;
	font-size: 14px;
}

/*#pageHead #newMessageWrapper{
	display: none;
	width: 200px;
	height: 2em;
	line-height: 1.8em;
	font-size: 1em;
	color: #FFFFFF;
	cursor: pointer;
	position: absolute;
	text-align: center;
	top: 0px;
	left: 50%;
	margin-left: -100px;
	background: #9ccc65;
}*/