.wrapper{
	background: #F1F1F1 url("/colorful/pattern2.jpg");
	z-index: 150;
}

#mainCWB{
	position: relative;
	padding: 0px;
}

#mainCWB #Nav{
	height: 45px;
}

#mainCWB #Nav ul{
	margin: 0px;
	padding: 0px;
}

#mainCWB #Nav li{
	height: 45px;
	line-height: 45px;
	display: block;
	float: left;
	width: 20%;
	text-align: center;
	cursor: pointer;
	color: #FFF;
	font-weight: 900;
	font-size: 1.5em;
	text-shadow: 0 0 0.2em #000;
	background: rgba(3, 3, 3, 0.6);
	-webkit-transition: background 0.25s linear;
	-moz-transition: background 0.25s linear;
	-o-transition: background 0.25s linear;
}
/*Hover styles*/

#mainCWB #Nav li#all:hover{
	background: rgba(192, 192, 192, .6);
}

#mainCWB #Nav li#book:hover{
	background: rgba(206, 230, 141, .6);;
}
#mainCWB #Nav li#tech:hover{
	background: rgba(167, 141, 213, .6);
}
#mainCWB #Nav li#housing:hover{
	background: rgba(228, 151, 58, .6);
}
#mainCWB #Nav li#misc:hover{
	background: rgba(68, 211, 216, .6);
}

/*select styles*/
#mainCWB #Nav li#all.selected{
	background: rgba(192, 192, 192, .6) url(/colorful/selected_header.png) center no-repeat;
}

#mainCWB #Nav li#book.selected{
	background: rgba(206, 230, 141, .6) url(/colorful/selected_header.png) center no-repeat;
}
#mainCWB #Nav li#tech.selected{
	background: rgba(167, 141, 213, .6) url(/colorful/selected_header.png) center no-repeat;
}
#mainCWB #Nav li#housing.selected{
	background: rgba(228, 151, 58, .6) url(/colorful/selected_header.png) center no-repeat;
}
#mainCWB #Nav li#misc.selected{
	background: rgba(68, 211, 216, .6)url(/colorful/selected_header.png) center no-repeat;
}

#mainCWB #dynamicWrapper{
	overflow: hidden;
}

#mainCWB #dynamicWrapper #dynamicContent{
	overflow: hidden;
}

#mainCWB #dynamicWrapper #dynamicContent #dump ul{
	margin: 10px 0px 0px 0px;
	padding: 5px;
	overflow: hidden;
}

#mainCWB #dynamicWrapper #dynamicContent #dump li{
	width: calc(20% - 22px); /*210px;*/
	height:	300px;
	padding: 5px;
	margin: 0px 5px 10px 5px;
	display: block;
	float: left;
	background: rgba(255,255,255, .75);
	border: 1px solid #C0C0C0;
}

#mainCWB #dynamicWrapper #dynamicContent #filterBar{
	height: 50px;
	line-height: 50px;
	background: rgba(177, 177, 177, 0.34);
	/* border-bottom: 1px solid #838383; */
	padding-left: 15px;
	color: #161F64;
}

#mainCWB #dynamicWrapper #dynamicContent #message{
	display: none;
	text-align: center;
	font-size: 3em;
	color: #333;
	line-height: 60px;
	padding-top: 40px;
	margin: 0px 20% 0px 20%;
}


#mainCWB #dynamicWrapper #dynamicContent #dump li .title{
	font-size: 13px;
	min-height: 42px;
	color: #000;
	white-space: nowrap;
	overflow: hidden;
}

#mainCWB #dynamicWrapper #dynamicContent #dump li .image{
	text-align: center;
	height: 130px;
	width: 100%;
}

#mainCWB #dynamicWrapper #dynamicContent #dump li .image img{
	max-width: 130px;
	max-height: 130px;
}

#mainCWB #dynamicWrapper #dynamicContent #dump li .details{
	font-size: 14px;
	height: 60px;
	overflow: hidden;
}

#mainCWB #dynamicWrapper #dynamicContent #dump li .username{
	font-style: italic;
	font-size: .8em;
}

#mainCWB #dynamicWrapper #dynamicContent #dump li .price{
	color: #6D8F0E;	
	height: 22px;
}

#mainCWB #dynamicWrapper #dynamicContent #dump .categoryTab{
	color: #FFF;
	text-align: center;
	text-transform: capitalize;
}