@import url("header.css");
@import url("sprites.css");

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans'), local('OpenSans'), url('https://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

h1, h2, h3, h4 {
	font-weight: 100;
	font-size: 20px;
	font-family: 'open sans',arial,sans-serif;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
}
h1{
	font-size: 1.5em;
}
h2{
	font-size: 1.25em;
}
h3{
	font-size: 1em;
}
h4{
	font-size: 1.2em;
}

.green{
	color:#88B900;
}

.italic{
	font-size: 13px;
	font-style: italic;
}

h3{
	margin: 2px;
}

hr {
	border:1px solid #9CCC65;
}

a {
	text-decoration: none;
	color: inherit;
}
a, img {
    border:none;
}

a:visited {
	text-decoration: none;
	color: inherit;
}


body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'open sans',arial,sans-serif;rif;
	color: #FFF;
	background: #4D4D4D url("/colorful/classy_fabric.png");
	color: #444;
    position: relative;
    width: 100%;
}

#screen, #screen2 {
	position: fixed;
	width: 100%;
	height:100%;
	z-index:1000;
	margin:0px;
	padding:0px;
	background-color: rgba(220, 220, 220, .5);
}

#screen_solid{
	position: fixed;
	width: 100%;
	height:100%;
	z-index:100;
	margin:0px;
	padding:0px;
	background:#F0F0F0;
}

.boxStyle1 {
    /* Size and position */
    margin: 20px;
    padding: 15px;
    position: relative;

    /* Styles */
    background: #FFF;
    color: #7e7975;
    box-shadow:0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 10px rgba(255, 255, 255, 0.4); 
}

.dialog{
	text-align:center;
	width: 500px;
	margin-left: -250px;
	left: 50%;
	top: 40px;
	position: absolute;
}

.dialog a{
	font-weight: 900;
	color: rgb(75, 0, 75);
}

.justifyCenter75{
	width: 75%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

input[type=text], input[type=password], textarea, #imgDrop {
	font-size: 15px;
	font-weight: 100;
	display: block;
	width: calc(100% - 16px);
	padding: 5px;
	margin-bottom: 5px;
	border: 3px solid #ebe6e2;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

input[type=text]:hover, input[type=password]:hover{
	border-color: #CCC;
}

input[type=text]:focus, input[type=password]:focus{
	border-color: #BBB;
}

input[type=submit], .button{
	height: 30px;
	margin: 0px;
	cursor: pointer;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	background: #9CCC65;
	border: none;
	color: #FFF;
}

.gray{
	background: #C0C0C0;
    border: 1px solid #777;
    color: #494949;
}

input[type=submit]:hover{
    box-shadow: 
    inset 0 1px rgba(255,255,255,0.3), 
    inset 0 20px 40px rgba(255,255,255,0.15);
}

.float{
	width: calc(50% - 80px);
	float: left;
	text-align: center;
}
.float h1{
	text-align: center;
}
.float table{
	width: 100%;
}

.boxSizing *,
.boxSizing *:after,
.boxSizing *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.headerBar {
	width: 100%;
	min-width: 1060px;
	height: 63px;
	margin: 0px;
	position: absolute;
	background: #F1F1F1;
	z-index: 110;
	box-shadow: 0 1px 6px rgba(0,0,0,0.1);
	border-bottom: 2px solid #78BE19;
}

.wrapper {
	min-width: 1060px;
	max-width:1920px;
	
	margin-left: 225px;
	min-height: 100vh;
}

/*shared emelents*/

.pad{
	padding:2% 5%;
}

.errorClass{
	height: 25px;
	font-size: 15px;
	color:#FF0000;
	text-align: center;
}

.wF{
	overflow: auto;
	overflow: hidden;
}

.cornerInfo {
	color: #757575;
	line-height: 15px;
	font-size: 15px;
	text-align: justify;
}

.cornerInfo p{
	padding: 0px 20px 0px 10px;
}


.socialBox{
    border-bottom: 1px solid #EBE6E2;
    padding: 15px 0px 15px 0px;
    margin-bottom: 15px;
}

#throbber{
	display: none;
	background: #FFF;
	border: 1px solid #C0C0C0;
	position: fixed;
	width: 42px;
	height: 42px;
	z-index: 100;
	bottom: 30px;
	left: 30px;
	padding: 5px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

#loadingGIF2{
	width: 400px;
	height: 142px;
	background: #FFF;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -71px;
	margin-left: -200px;
	text-align: center;
	 box-shadow:
    0 2px 2px rgba(0,0,0,0.2),
    0 1px 5px rgba(0,0,0,0.2); 
}
.spacer{
	height: 50px;
}

.codeInput{
	width: 6em;
	font-weight: 900;
	font-size: 1.5em;
	text-align: center;
}

/*-----Sidebar------*/

#sidebar{
	width:225px;
	position:absolute;
    top:63px;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
	color: #222;
	background-color: #E0E0E0;
	box-shadow: 0 0px 6px rgba(0, 0, 0, 0.78);
}

#sidebar .sprite{
	margin-top: 12px;
}

.unavailable{
	opacity: .25;
	cursor: inherit !important;
	background-color: none !important;
}

.unavailable:hover{
	background: #C7C7C7 !important;
	color: #000 !important;
}

#sidebar ul{
	margin: 0px;
	padding: 0px;
}

#sidebar li{
	display: block;
	height: 45px;
}

#sidebar li:nth-child(1){
	margin-top: 0px;
}

#sidebar li:nth-child(2):hover{
	background-color: #FFF290;
	/*color: #000;*/
}
#sidebar li:nth-child(3):hover{
	background-color: #B98989;
	color: #FFF;
}
#sidebar li:nth-child(4):hover{
	background-color: #CEE68D;
	color: #FFF;
}
#sidebar li:nth-child(5):hover{
	background-color: #E4973A;
	color: #FFF;
}
#sidebar li:nth-child(6):hover{
	background-color: #A78DD5;
	color: #FFF;
}
#sidebar li:nth-child(7):hover{
	background-color: #44D3D8;
	color: #FFF;
}

#loggedOutLogin:hover{
	background-color: #FFF;
	color: #000;
}

#loggedOutLogin{
	background:#9CCC65;
	height: 65px;
	line-height: 45px;
	width: calc(100% - 30px);
	padding: 0px 20px 0px 0px;
	white-space: nowrap;
	cursor: pointer;
	margin: 5px 5px;
	text-align: center;
	color: #FFF;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

#loggedOutSignup{
	background:#9CCC65;
	height: 65px;
	line-height: 45px;
	width: calc(100% - 30px);
	padding: 0px 20px 0px 0px;
	white-space: nowrap;
	cursor: pointer;
	margin: 5px 5px;
	text-align: center;
	color: #FFF;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

#sidebar .clickOption{
	line-height: 45px;
	width: calc(100% - 30px);
	padding: 0px 20px 0px 0px;
	white-space: nowrap;
	cursor: pointer;
	background-color: #C7C7C7;
	margin: 5px 5px;
	text-align: center;
	font-size: .9em;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

.clickOption #option0{
	width: 25px;
	height: 45px;
	float: left;
	background-color: #FFF290;
	padding: 0px 10px;
	margin: 0px 5px 0px 0px;
}

.clickOption #option1{
	width: 25px;
	height: 45px;
	float: left;
	background-color: rgb(206, 230, 141);
	padding: 0px 10px;
	margin: 0px 5px 0px 0px;
}

.clickOption #option2{
	width: 25px;
	height: 45px;
	float: left;
	background-color: rgb(228, 151, 58);
	padding: 0px 10px;
	margin: 0px 5px 0px 0px;
}

.clickOption #option3{
	width: 25px;
	height: 45px;
	float: left;
	background-color: rgb(167, 141, 213);
	padding: 0px 10px;
	margin: 0px 5px 0px 0px;
}

.clickOption #option4{
	width: 25px;
	height: 45px;
	float: left;
	background-color: rgb(68, 211, 216);
	padding: 0px 10px;
	margin: 0px 5px 0px 0px;
}

.clickOption #option5{
	width: 25px;
	height: 45px;
	float: left;
	background-color: #B98989;
	padding: 0px 10px;
	margin: 0px 5px 0px 0px;
}

#sidebar ul #userbadge{
	background:#9CCC65;
	height: 95px;
}

#sidebar ul #userbadge #avatar{
	min-width: 95px;
	height: 95px;
	float: left;
	background-size: 100%;
}
#sidebar ul #userbadge #username{
	float: right;
	height: 45px;
	line-height: 45px;
	color: #FFF;
	text-align: center;
	width: calc(100% - 95px);
	font-size: 1.25em;
}

#sidebar ul #userbadge #userBadgeMyAccount{
	text-align: center;
	font-size: .75em;
}
/*footer*/

.footerBar, .push{
	height: 150px;
}

.footerBar {
	width: 100%;
	min-width: 1060px;
	padding: 0px 0px 0px 0px;
	position: absolute;
	background-color: rgba(0,0,0,.2);
	color: #C0C0C0;
}

#footerWrap {
	width: 800px;
	height: 50px;
	position: absolute;
	left: 50%;
	margin-top: 30px;
	margin-left: -400px;
	text-align: center;
	color:#777;
}
