/* 
    This CSS classfile is intended to style loosely-coupled components in
    Walkntrade, such as headers, footers, menus, etc.
*/

body {
    font-family: "Droid Sans", "Garamond", Helvetica, Arial, sans-serif;
    font-size: 1em;
}

/* Header */
.wt-header {
    width: 100%;
    height: 3.5em;
    border-bottom: 0.15em solid #34d132;
    background-color: #FFF;
    opacity: 0.95;
}

.wt-header-logo-wrapper {
    display: inline-block;
    height: 100%;
}
.wt-header-logo-landing-extras {
    text-align:center;
    width:100%;
}

.wt-header-hmenu-container {
    float: right;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.wt-header-item-wrapper {
    height: 100%;
    padding: 0 1em 0 1em;
    cursor: pointer;
    background-color: inherit;
    transition: background-color 0.1s;
}
.wt-header-item-wrapper:hover { background-color: #DDD; }

.wt-header-content {
    display: inline;
    vertical-align: middle;
    text-decoration: none;
    color: #000;
}

.wt-sidebar {
    position: fixed; /* change to static at certain viewport */
    top: 6.5em;
    right: 0;
    max-width: 50%; /* override with media queries */
    height: 100%;
    background-color: #888;
    color: white;
    opacity: 0.98;
}

.wt-sidebar-content {
    padding: 1em;
    text-align: center;
    transition: background-color 0.1s;
    cursor: pointer;
}
.wt-sidebar-content:hover { background-color: #DDD; }

@media screen and (min-width: 600px) {
    .wt-sidebar {
        max-width: 37.5%;
    }
}
@media screen and (min-width: 1000px) {
    .wt-sidebar {
        max-width: 25%;
    }
}
@media screen and (min-width: 1280px) {
    .wt-sidebar {
        max-width: 12.5%;
    }
}

.wt-sidebar > * {
    display: none;
}

/* General "Content" wrapper styling */
.wt-content {
    width: 100%;
}
 
.wt-content-wrapper {
    padding: 1em 1em 1em 1em;
    text-align: center;
}

/* Footer */
.wt-footer {
    width: 100%;
    height: 2.5em;
    background-color: #EEE;
    opacity: 0.95;
}

.wt-footer-content-container {
    height: 100%;
    text-align: center;
}

.wt-footer-content-wrapper {
    display: inline-block;
    height: 100%;
    padding: 0 1em 0 1em;
    background-color: inherit;
    transition: background-color 0.1s;
    cursor: pointer;
}
.wt-footer-content-wrapper:hover { background-color: #AAA; }

.wt-footer-content {
    display: inline;
    text-decoration: none;
    color: #000;
    vertical-align: middle;
}

/* User makes a selection from pre-set options */
.input-option-selected {
    background-color: rgb(250, 255, 189);
}
.button-option-selected {
    background-color: #53A852;
    color: #FFF;
}