/* 
    This CSS classfile is intended to style loosely-coupled components in
    Walkntrade, such as headers, footers, menus, etc.
*/

body {
    font-family: "Droid Sans", "Garamond", Helvetica, Arial, sans-serif;
    font-size: 1em;
}

/* Header */
.wt-header {
    width: 100%;
    height: 3.5em;
    box-sizing: border-box;
    border-bottom: 0.15em solid #34d132;
    background-color: #FFF;
    opacity: 0.95;
}

.wt-header-content-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.wt-header-content::after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.wt-header-content {
    display: inline;
    vertical-align: middle;
    line-height: 1.75em;
    text-decoration: none;
    color: #000;
}

.wt-header-center-logo {
    text-align:center;
    width:100%;
    padding-top: 0.25em;
}

.wt-header-offset-logo {
    position: relative;
    right: 0.5em;
    max-width: 60%;
}

#wt-header-menu {
}

.wt-header-nav {
    float: right;
    height: 100%;
}

.wt-header-navitem-wrapper {
    display: inline-block;
    height: 100%;
    padding: 0 1em 0 1em;
    cursor: pointer;
    background-color: inherit;
    transition: background-color 0.1s;
}
.wt-header-navitem-wrapper *::before {
    vertical-align: middle; 
}

.wt-header-navitem-wrapper:hover { background-color: #4fad68;}

/* Sidebar */
.wt-sidebar {
    position: fixed; /* change to static at certain viewport */
    z-index: 1;
    top: 3.5em;
    left: 0;
    max-width: 50%; /* override with media queries */
    height: calc(100% - 3.5em);
    background-color: #EEE;
    color: white;
    opacity: 1;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.78);
}

.wt-sidebar .user-info {
    background-color: #9CCC65;
    padding-top: 0.5em;
    padding-bottom: 0.125em;
}

.wt-sidebar .user-info > .user-name {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0.5em;
}

.wt-sidebar .user-info > .user-img > img {
    margin: 0 auto;
}

.wt-sidebar #LoginBtn,
.wt-sidebar #LogoutBtn,
.wt-sidebar #PostBtn,
.wt-sidebar #MessageBtn,
.wt-sidebar #PanelBtn {
    background: #9CCC65;
}

.wt-sidebar #ChangeSchoolBtn{
    background: #B98989;
}

.wt-sidebar-content {
    box-sizing: border-box;
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
    transition: background-color 0.1s;
    cursor: pointer;
}

.wt-sidebar-footer {
    padding-top: 1em;
    width: 100%;
    position: absolute;
    background-color: #444;
    bottom: 6.5em;
    height: 4em;
    text-align: center;
}

.wt-sidebar-content:hover { background-color: #1dad68; }

@media screen and (min-width: 600px) {
    .wt-sidebar {
        max-width: 37.5%;
    }
}
@media screen and (min-width: 1000px) {
    .wt-sidebar {
        max-width: 25%;
    }
}

.wt-sidebar > * {
    display: none;
}

/* General "Content" wrapper styling */
.wt-content {
    width: 100%;
}
 
.wt-content-wrapper {
    padding: 1em 1em 1em 1em;
    text-align: center;
}

/* Footer */
.wt-footer {
    width: 100%;
    height: 2.5em;
    background-color: #EEE;
    opacity: 0.95;
}

.wt-footer-content-container {
    height: 100%;
    text-align: center;
}

.wt-footer-content-wrapper {
    display: inline-block;
    height: 100%;
    padding: 0 1em 0 1em;
    background-color: inherit;
    transition: background-color 0.1s;
    cursor: pointer;
}
.wt-footer-content-wrapper:hover { background-color: #AAA; }

.wt-footer-content {
    display: inline;
    text-decoration: none;
    color: #000;
    vertical-align: middle;
}

/* User makes a selection from pre-set options */
.input-option-selected {
    background-color: rgb(250, 255, 189);
}
.button-option-selected {
    background-color: #53A852;
    color: #FFF;
}
