/* Results page-specific element styles */
body {
    background-color: #EEE;
}

.results-filter {
    height: 3em;
    text-align: center;
    color: white;
    display: inline-block;
    background-color: rgba(3, 3, 3, 0.6);
    opacity: 0.95;
}

.results-filter > .results-searchfield::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.results-filter > .results-searchfield {
    display: inline-block;
    box-sizing: border-box;
    width: 75%;
    height: 100%;
    vertical-align: middle;
}

.results-filter > .results-searchfield > input {
    display: inline-block;
    width: 75%;
    height: 2em;
    vertical-align: middle;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}

.results-filter > .results-searchfield > button {
    display: inline-block;
    width: 20%;
    height: 2em;
    vertical-align: middle;
    background-color: rgb(28, 184, 65);
    color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.results-categories {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
}
.results-categories::-webkit-scrollbar {
    display: none;
}

.results-filter > i::before {
    display: inline-block;
    height: 85%;
    vertical-align: middle;
}

.results-filter > .fa-angle-right {
    right: 0.01em;
}

.results-filter > i {
    position: absolute;
    display: inline-block;
    height: 1.5em;
    width: 15%;
    vertical-align: top;
    background-color: transparent;
    box-shadow: 0 0em 1em rgba(255, 255, 255, 0.5);
}

.results-categories > a {
    display: inline;
    box-sizing: border-box;
    background-color: inherit;
    color: white;
    border-radius: 0;
    padding: 1em 1.5em 1em 1.5em;
    line-height: 3em;
    vertical-align: middle;
    transition: background-color 0.25s;
}

.results-categories > a.color-all:hover {
    background-color: rgba(192, 192, 192, .6);
}
.results-categories > a.color-all.selected {
    background-color: rgba(192, 192, 192, .6);
}
.results-categories > a.color-book:hover {
    background-color: rgba(206, 230, 141, .6);
}
.results-categories > a.color-book.selected {
    background-color: rgba(206, 230, 141, .6);
}
.results-categories > a.color-housing:hover {
    background-color: rgba(228, 151, 58, .6);
}
.results-categories > a.color-housing.selected {
    background-color: rgba(228, 151, 58, .6);
}
.results-categories > a.color-tech:hover {
    background-color: rgba(167, 141, 213, .6);    
}
.results-categories > a.color-tech.selected {
    background-color: rgba(167, 141, 213, .6);    
}
.results-categories > a.color-misc:hover {
    background-color: rgba(68, 211, 216, .6);
}
.results-categories > a.color-misc.selected {
    background-color: rgba(68, 211, 216, .6);
}

.wt-content-results {
    box-sizing: border-box;
    background-color: inherit;
    color: black;
}

.wt-results-wrapper {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
}

.wt-results {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.wt-result-wrapper {
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% - 0.8em); /* accounting for margins */
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: center;
}

.wt-result {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background: #FEFEFE;
    border: 1px solid #C0C0C0;
    cursor: pointer;
}

.wt-result > .category {
    padding: 0.5em 0 0.5em 0;
    text-align: center;
    margin-bottom: 0.75em;
    color: white;
    font-weight: bold;
}
.wt-result > .category.color-all {
    background-color: rgba(0, 0, 0, .5);
}
.wt-result > .category.color-book {
    background-color: rgba(103, 137, 9, .75);
}
.wt-result > .category.color-housing {
    background-color: rgba(255, 140, 0, .75);
}
.wt-result > .category.color-tech {
    background-color: rgba(55, 9, 137, .75);  
}
.wt-result > .category.color-misc {
    background-color: rgba(68, 211, 216, .75);
}


.wt-result > .title {
    text-align: center;
    height: 1.5em;
    margin-bottom: 0.25em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding-left: 2em;
    padding-right: 2em;
}

.wt-result > .title > label {
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;   
}

.wt-result > .visual {
    display: inline-block;
    box-sizing: border-box;
    padding-left: 0.6em;
    height: 10em;
    line-height: 10em;
    width: 49%;
    margin-bottom: 0.5em;
    vertical-align: middle;
}

.wt-result > .visual > img {
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 10px rgba(255,255,255,0.6);
    margin: 0 auto;
}

.wt-result > .desc_price_wrapper {
    display: inline-block;
    text-align: left;
    width: 49%;
    height: 10em;
    box-sizing: border-box;
    padding-right: 1em;
    vertical-align: top;
}

.wt-result > .desc_price_wrapper > .description {
    display: block;
    height: 7.5em;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 1em;
}

.wt-result > .desc_price_wrapper  > .description > p {
    margin-top: 0;
    line-height: 1.2em;
    padding: 0.25em;
    border: 1px solid #DDD;
}

.wt-result > .desc_price_wrapper > .price {
    display: block;
    vertical-align: middle;
    height: 3em;
    box-sizing: border-box;
    padding-left: 1em;
}

.wt-result > .desc_price_wrapper > .price > label:before {
    display: inline-block;
    content: '';
    height: 100%;
    vertical-align: middle;
}

.wt-result > .desc_price_wrapper > .price > label {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    vertical-align: middle;
    color: #9CCC65; /** Walkntrade color **/
}

.wt-result > .description {
    display: inline-block;
    text-align: left;
    width: 50%;
    height: 10em;
    overflow: hidden;
}
.wt-result > .description > p {
    margin-top: 0;
    padding: 0 1em 0 1em;
    line-height: 1.3em;
}

.wt-result > .seller {
    box-sizing: border-box;
    background-color: #9CCC65; /** Walkntrade color **/
    width: 100%;
    height: 3em;
    font-weight: bold;
}

.wt-result > .seller > div {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em;
    width: 100%;
    height: 100%;
}

.wt-result > .seller > div > a {
    float: left;
    height: 1em;
    line-height: 2em; /** Accounting for padding */
    text-align: left;
    color: white;
    text-decoration: none;
}

.wt-result > .seller > div > a:link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.wt-result > .seller > div > a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.wt-result > .seller > div > a:active {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.wt-result > .seller > div > a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.wt-result > .seller > div > label {
    float: right;
    height: 1em;
    line-height: 2em; /** Accounting for padding */
    text-overflow: ellipsis;
    text-align: right;
    color: white;
}

.body-overlay {
    position: absolute; 
    background-color: rgba(80, 80, 80, 0.95);
    width: 100%; 
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.body-overlay > .modal-window {
    position: relative; 
    border-radius: 1em;
    margin: 0 auto; 
    padding: 1em; 
    z-index: 2;
    background-color: white;
    width: 75%;
}

.body-overlay > .modal-window > .modal-window-content-wrapper {
    height: 100%;
}

.body-overlay > .modal-window > .modal-window-content-wrapper a {
    color: green;
    text-decoration: underline;
}

.body-overlay > .modal-window .signup-form {
    display: none;
}

.body-overlay > .modal-window > .modal-window-content-wrapper input {
    display: block;   
}
.body-overlay > .modal-window > .modal-window-content-wrapper input[type=text],
.body-overlay > .modal-window > .modal-window-content-wrapper input[type=password],
.body-overlay > .modal-window > .modal-window-content-wrapper input[type=email],
.body-overlay > .modal-window > .modal-window-content-wrapper input[type=phone] {
    margin: 0.5em auto;
    width: 75%;
}
.body-overlay > .modal-window > .modal-window-content-wrapper input[type=submit] {
    margin: 1em auto;
    width: 90%;
    color: white;
    background-color: #9CCC65;
}

@media screen and (min-width: 600px) {
    .wt-results-wrapper {
        padding: 1em;
    }
    
    .wt-result-wrapper {
        width: calc(50% - 1em);
    }
    
    .wt-result > .visual {
        display: block;
        width: 100%;
        padding-left: 0;
    }
    .wt-result > .visual > img {
        margin: 0 auto;
    }
    
    .wt-result > .visual > p {
        margin-top: 1em;
        padding-left: 0;
    }
    
    .wt-result > .desc_price_wrapper{
        display: block;
        height: 8.5em;
        width: 100%;
    }
    .wt-result > .desc_price_wrapper > .description {
        width: 100%;
        height: 65%;
    }
    
    .wt-result > .desc_price_wrapper > .description > p {
        line-height: 1.25em;
    }
    
    .wt-result > .desc_price_wrapper > .price {
        vertical-align: top;
        width: 100%;
        height: 35%;
    }
    
    .body-overlay > .modal-window {
        width: 50%;
    }
    
    .body-overlay > .modal-window form.login-form,
    .body-overlay > .modal-window form.signup-form {
        display: inline-block;
        width: 49%;
        vertical-align: top;
        text-align: center;
    }
    .body-overlay > .modal-window form.signup-form {
        border-left: 1px solid rgba(80, 80, 80, 0.25);
    }
}
@media screen and (min-width: 1000px) {
    .wt-result-wrapper {
        width: calc(33% - 0.8em);
    }
}
@media screen and (min-width: 1280px) {
    .wt-result-wrapper {
        width: calc(25% - 1em);
    }
}
@media screen and (min-width: 1900px) {
    .wt-result-wrapper {
        width: calc(20% - 1em);
    }
}