/** 
General element styles, some of which are intended to replace 
defaults of Pure/Normalize.css
**/

html,body {
    height: 100%;
    width: 100%;
}

input[type=search] {
    box-shadow: 0;
    transition: box-shadow 0.15s;
}
input[type=search]:focus {
    box-shadow: 0 0 0.3em 0.2em #34d132 inset;
} 
input[type=search]:required {
    border: none;
}