<h3 style="text-align: center;">Add a Post</h3>
<form class="add-post-form">
    <select class="destination-category" required>
    </select>
    <input class="post-title" type="text" tabindex=1 placeholder="Title" />
    <input class="post-author" type="text" tabindex=2 placeholder="Author" />
    <textarea class="post-details" type="text" tabindex=3 placeholder="Details"></textarea>
    <input class="post-price" type="text" tabindex=4 placeholder="Price (Optional)" />
    <input class="post-tags" type="text" tabindex=5 placeholder="Tags" />
    <input class="post-isbn" type="text" tabindex=6 placeholder="ISBN (Optional)" />
    <input class="post-submit pure-button" type="submit" tabindex=7 value="Add Post" />
    <label></label>
</form>