 <div class="body-overlay">
    <div class="pure-form modal-window">
        <div class="modal-window-content-wrapper">
            <h3 style="text-align: center;">Login</h3>
            <input style="display: block; margin: 0.25em auto; width:75%;" placeholder="Email" type="email"/>
            <input style="display: block; margin: 0.25em auto; width:75%;" placeholder="Password" type="password"/>
            <div style="margin: 0 auto; text-align: center;">
                <input class="pure-button pure-button-primary" style="margin: 0.25em;" type="submit" value="Log In"/>
            </div>
            <label></label>
        </div>
    </div>
</div>